
/* =========================
   BASE LAYOUT
   ========================= */

.container {min-height: 100%;}

body {
    

  font-family: var(--font-sans);
  background: var(--color-bg);
  color: var(--color-text);

   display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: flex-start;  /* top align so it can grow downward */
  padding: 40px 18px;
}


