/* =========================
   THEME TOKENS (Angular-friendly)
   ========================= */
:root {
  --color-bg: #000000;
  --color-surface-bright: rgb(195, 181, 231);
  --color-surface: rgb(44, 39, 97);
  --color-surface-strong: rgb(15, 11, 59);
  --color-subtle-grey: rgb(0, 0, 1);

  --color-text: #ffffff;
  --color-text-muted: rgba(255, 255, 255, 0.72);

  --color-accent: rgba(230, 0, 81, 0.867);      
  --color-accent-2: #eea322;   

  --radius-lg: 18px;
  --radius-md: 14px;

  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }